* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #484848;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
